#offcanvasFilters {
    width:25vw !important;

    button.badge {
        color:var(--dark);
    }
    .form-select {
    position: relative;
    background-image: unset;
    background-color:unset;
    padding-right: 2rem;

        &::after {
            content: '';
            position: absolute;
            top: 50%;
            right: 0.75rem;
            width: .75rem;
            height: .75rem;
            pointer-events: none;
            background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='darkgrey' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3e%3c/svg%3e");
            background-repeat: no-repeat;
            background-size: contain;
            transform: translateY(-50%) rotate(0deg);
            transition: transform 0.3s ease;
        }

        &.show::after {
            transform: translateY(-50%) rotate(180deg);
        }
    }

    .checkbox-list {
        height: 35vh;
        overflow-y: auto;
        border-radius:unset;
    }
    #woodPurposeFilter {
        min-height: 175px;
    }
    #selectLocation {
        .checkbox-list {
            transform: translate3d(0px, 32px, 0px) !important;
        }
    }
    #layers {
        width:25vw !important;
        .checkbox-list {
            height: unset;
        }
    }
    #mapLayers {
        border: none;
        border-radius: 10px 10px 0 0;
        transform: translate3d(0px, -36px, 0px) !important;
    }
}

.dark {
    #offcanvasFilters {
        * {
            color:lightgrey;
        }

        button.badge {
            color: lightgrey;
        }

        .form-check {
            label {
                color: lightgrey;
            }
        }

        button.form-select {
            color:lightgray;
            --bs-form-select-bg-img: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='lightgrey' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3e%3c/svg%3e");
        }
    }
}

.custom-offcanvas {
  position: fixed;
  transform: translate(+5%, -5%) !important;
  width: 90vw;
  height: 90vh;
  z-index: 1055;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

.btn.btn-link {
    &:hover {
        text-decoration: underline;
        text-underline-offset: 0.2rem;
    }
}
