#timeline {
    input {
        &.minYear {
            color:#6f3903;
        }

        &.maxYear {
            color: #046004;
        }
        
    }

    #timeline-container {
        .timeline-line {
            z-index:10000;
        }

        .bar {
            transition: .15s;
        }

        &.area {
            .bar {
                fill: black;

                &.hover,
                &.active {
                    fill: whitesmoke;
                }

                &.outlier {
                    fill:rgb(163, 11, 11) !important;
                }
            }

            #tooltip {
                background: black;
                color:white;
            }
        }

        &.dark,
        &.gray_dark {
            .bar {
                fill: #b8b8b8;

                &.hover {
                    stroke: whitesmoke;
                    stroke-width: .5px;
                    fill: black;
                }

            }
        }
    }
}

#tooltip-timeline {
    background: whitesmoke;
    color: black;
    &.dark,
    &.gray_dark {
        background: whitesmoke;
        color: black;
    }

    &.area {
        background: black;
        color:white;
    }

}

#timeline-speed {
    svg {
        max-height:1.25rem;
        max-width:1.25rem;
        fill: black;
    }
}

.dark,
.gray_dark {
    #timeline {
        input {
            &.minYear {
                color:#9c5005;
            }
        }
    }
    .y-axis, .x-axis {
        color:#787878;
    }

    #timeline-speed {
        svg {
            fill: whitesmoke;
        }
    }
}
