node_modules

# Output
.output
.vercel
.netlify
.wrangler
/.svelte-kit
/build

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example
!.env.test

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

# Custom
# Ignore all JSON files in specific folders
src/lib/data/datafiles/*.json
src/lib/data/artworks/*.json
src/lib/data/furniture/*.json
src/lib/data/constructions/*.json
