#map-container {
    height: 550px;

    .provenanceEllipse {
        fill: black;
        opacity: .85;
        stroke: whitesmoke;
        stroke-opacity:.5;
        stroke-width: .5px;
        transition: opacity 0.5s ease, fill-opacity 0.5s ease;
    }

    .leaflet-marker-icon {
        svg {
            fill: black;
        }
    }

    .river-path {
        transition: stroke 0.2s ease-out, stroke-width 0.2s ease-out;
    }


    &.map-dark,
    &.map-gray_dark {
        .provenanceEllipse {
            fill: whitesmoke;
            opacity: .5;
            stroke: black;
        }

        .leaflet-marker-icon {
            svg {
                fill: #b8b8b8;
            }
        }
    }

}