@use 'variables' as vars;

@use 'bootstrap/scss/bootstrap' with (
  $font-size-base: vars.$font-size-base,
  $primary: vars.$primary,
  $light: vars.$light,
  $blue: vars.$blue
);

@use 'general';
@use 'components/filters';
@use 'components/dataviz/map';